@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}

.container {
    background: url("../img/Chat.jpg") left center no-repeat; padding-top: 750px;align-content: center;
    margin-left: 200px;
    background-size: contain  ;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}


.chatbot-toggler{
    position: fixed;
    right:40px;
    bottom:35px;
    height:50px;
    width:50px;
    border:none;
    display: flex;
    align-items: center;
    justify-content: center;
    outline:none;
    cursor:pointer;
    border-radius: 50%;
    color:#fff;
    background: #F7C40B;
    transition: all 0.2s ease;
}

.show-chatbot .chatbot-toggler{
    transform: rotate(90deg);
}

.chatbot-toggler span{
    position:absolute;
}
.show-chatbot .chatbot-toggler span:first-child,
.chatbot-toggler span:last-child{
    opacity:0;
}

.show-chatbot .chatbot-toggler span:last-child{
    opacity: 1;
}

.chatbot{
    position: fixed;
    right:40px;
    bottom: 100px;
    width: 420px;
    transform: scale(0.5);
    opacity: 0;
    pointer-events: none;
    overflow: hidden;
    background:#fff;
    border-radius: 15px;
    transform-origin:bottom right ;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),0 32px 64px -48px rgba(0,0,0,0.5);
    transition: all 0.1s ease;
}

.show-chatbot .chatbot{
    transform: scale(1);
    opacity: 1;
    pointer-events: auto;
}

.chatbot header{
    background: #F7C40B;
    padding:16px 0;
    text-align: center;
    position:relative;
}

.chatbot header h2{
    color:#fff;
    font-size:1.4rem;
}

.chatbot header span{
    position:absolute;
    right:20px;
    top:50%;
    color:#fff;
    cursor:pointer;
    display: none;
    transform:translateY(-50%);
}
.chatbot .chatbox{
    height:510px ;
    overflow-y: auto;
    padding:30px 20px 70px;
}
.chatbox .chat{
    display: flex;
}

.chatbox .incoming span{
    height:32px;
    width:32px;
    color:#fff;
    align-self: flex-end;
    background: #F7C40B;
    text-align: center;
    line-height: 32px;
    border-radius:4px;
    margin:0 10px 7px 0;
}


.chatbox .outgoing span {
    height: 32px;
    width: 32px;
    color: #fff;
    align-self: flex-end;
    background: #2B424A;
    text-align: center;
    line-height: 32px;
    border-radius: 4px;
    margin-left: 10px;

}

.chatbox .chat p{
    color:#fff;
    font-size: 0.95rem;
    padding: 12px 16px;
    border-radius: 10px 10px 0 10px;
    background: #2B424A;
}

.chatbox .incoming p{
    color:#000;
    background:#f2f2f2;
    border-radius: 10px 10px 10px 0;
}

.chatbot .chat-input{
    position: absolute;
    bottom:0;
    width:100%;
    gap:5px;
    display: flex;
    background: #fff;
    padding:5px 20px;
    border-top:1px solid #ccc;
}

.chat-input textarea{
    height:55px;
    width:100%;
    border:none;
    outline:none;
    max-height:180px;
    font-size: 0.95rem;
    resize: none;
    padding:16px 15px 16px 0;
}

.chat-input span{
    align-self: flex-end;
    height:55px;
    line-height: 55px;
    color:#724ae8;
    font-size:1.35rem;
    cursor:pointer;
    visibility: hidden;
}

.chat-input textarea:valid ~span{
    visibility: visible;
}

@media(max-width:470px){
    .chatbot{
        right:0;
        bottom:0;
        width:100%;
        height:100%;
        border-radius:0;
    }

    .chatbot .chatbox{
        height:90%;
    }

    .chatbot header span{
        display: block;
    }
}

/*@keyframes gradientAnimation {*/
/*    0% { background-position: 0% 50%; }*/
/*    50% { background-position: 100% 50%; }*/
/*    100% { background-position: 0% 50%; }*/

/* styles.css */



