{% extends 'Medilab/base.html' %}
{% load static %}

{% block content %}
<div style="margin-top:200px">
    <h1>Appointment List</h1>
    <ul>
        {% for appointment in appointments %}
            <li>{{ appointment.user_name }} - {{ appointment.appointment_date }}</li>
            <li>{{ appointment.doctor_name }}</li>
            <li>{{ appointment.disease_name }}</li>
            <li>{{ appointment.user_message }}</li>
            <br>
        {% endfor %}
    </ul>

</div>
{%  endblock %}
