{% extends 'Medilab/base.html' %}
{% load static %}

{% block content %}
<style>
    .appointment-list {
        font-family: "Poppins", sans-serif;
        list-style: none;
        padding-left: 10px;
    }
    .appointment-item {
        border: 1px solid #ccc;
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 10px;
        background-color: #a8c7e7;
    }
    {#.center-content {#}
    {#    text-align: center;#}
    {#}#}
</style>

<div class="center-content" style="margin-top: 200px">
    <h1 style="font-weight: bold; text-align: center" >Appointment List</h1>
    <ul class="appointment-list">
        {% for appointment in appointments %}
            <li class="appointment-item">
                <strong>{{ appointment.user_name }} - {{ appointment.appointment_date }}</strong>
                <br>
                Doctor: {{ appointment.doctor_name }}
                <br>
                Disease: {{ appointment.disease_name }}
                <br>
                Message: {{ appointment.user_message }}
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
