{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat with Eve</title>
    <link rel="stylesheet" href="{% static 'Medilab/css/chat.css' %}"/>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"/>
</head>
<body>
<div class="container">
    <div class="show-chatbot">
        <button class="chatbot-toggler">
            <span class="material-symbols-outlined">mode_comment</span>
            <span class="material-symbols-outlined">close</span>
        </button>
        <div class="chatbot">
            <header>
                <h2>Chat With EVE </h2>
                <span class="material-symbols-outlined">close</span>
            </header>
            <ul class="chatbox">
                <li class="chat incoming">
                    <span class="material-symbols-outlined">smart_toy</span>
                    <p>Hi there ! <br> I'm Eve, your dedicated virtual health assistant. Whether you have a question, need to monitor your health, or require guidance, I'm here to help you every step of the way.</p>
                </li>
                <br>
                <li class="chat outgoing">
                    <p>Hi Eve! It's great to meet you. I'm glad to have a dedicated virtual health assistant to assist me with my healthcare needs.</p>
                    <span class="material-symbols-outlined">face</span>
                </li>
            </ul>
            <div class="chat-input">
                <textarea placeholder="Enter a message...." required></textarea>
                <span id="send-btn" class="material-symbols-outlined">send</span>
            </div>
        </div>
    </div>
</div>
</body>
</html>