{% extends 'Medilab/base.html' %}
{% load static %}

{% block content %}
    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
        <div class="container">

            <div class="section-title">
                <br>
                <br>
                <br>
                <h2>Frequently Asked Questions</h2>
                <p>The Frequently Asked Questions (FAQ) section that addresses common queries and concerns from users,
                    providing comprehensive and informative answers to help them better understand the platform's
                    services, features, and how to make the most of their personalized healthcare support..</p>
            </div>

            <div class="faq-list">
                <ul>
                    <li data-aos="fade-up">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse"
                                                                       data-bs-target="#faq-list-1">Why do I get sick?
                        <i class="bx bx-chevron-down icon-show"></i><i
                                class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                            <p>
                                When you get sick, part or all of your body is not working as it should. The cause of
                                sickness can come from inside your body or from the outside world. Diseases that start
                                on the inside are usually inherited in the genes that you receive from your parents,
                                which make up the master plan that determines how your body will grow and run. Abnormal
                                development or functioning of different body systems is the cause of many chronic
                                diseases.

                                Things in the outside world can cause sickness too. Poisons in the environment can cause
                                illnesses in people. Not eating the right foods, with their important nutrients, can
                                also cause diseases. But the most common cause of sickness from the outside world is
                                infectious agents. These agents are usually microscopic organisms (living things so
                                small that they can only be seen with the help of microscopes) such as bacteria and
                                viruses, commonly referred to as germs. Bacteria and viruses and other microscopic
                                organisms live in the air, water, and soil that make up our world. They are on the
                                things and people we touch and in the food we eat. Many of them are beneficial: bacteria
                                are needed to make cheese, some bacteria help vegetables grow, and some bacteria clean
                                the environment and enrich the soil by feeding on dead plants and animals. But there are
                                other microscopic organisms that invade the bodies of plants and animals—and people—and
                                cause diseases.
                            </p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="100">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                                                                       data-bs-target="#faq-list-2" class="collapsed">How
                        do the disease-causing germs invade my body? <i class="bx bx-chevron-down icon-show"></i><i
                                class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                Your skin is a wonderful protective barrier that prevents many of the disease-causing
                                germs that you run into each day from entering your body. Only when you have an opening
                                in your skin—like a cut or a scrape—are germs likely to enter there. Most germs enter
                                through your mouth and nose, making their way farther into your body through your
                                respiratory or digestive tracts. But even then, certain chemicals in body tissues and
                                fluids keep many harmful germs from causing problems. When an infection does begin—with
                                the germs multiplying inside your body—your immune systemleaps into action to get rid of
                                the foreign organisms. Your white blood cells produce special substances called
                                antibodies that attack and destroy the invaders, helping you to recover.
                            </p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="200">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                                                                       data-bs-target="#faq-list-3" class="collapsed">What
                        does the immune system do?<i class="bx bx-chevron-down icon-show"></i><i
                                class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                The immune system protects the human body against germs, which are microorganisms that
                                cause sickness and disease. There are four major types of germs— harmful bacteria
                                (pathogens), viruses, fungi, and protozoa. This defense system begins with the skin,
                                which stops germs from getting into your blood or tissues. If germs get into your body,
                                for example through your nose or mouth, white blood cells called phagocytes and
                                lymphocytes attack them. Phagocytes scout out and destroy invaders, and long-living
                                lymphocytes remember the invaders and release chemicals called antibodies to make the
                                body resistant, or immune, to them. White blood cells live in the bloodstream, lymphatic
                                system, and spleen.

                                The lymphatic system (or lymph system, for short) is a far-reaching network that extends
                                throughout your entire body. A clear liquid called lymph runs throughout the system,
                                washing the body’s cells with nutrients and water and detecting and removing pathogens.
                                Lymph is filtered through the lymph nodes and then passes into the body's bloodstream.
                            </p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="300">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                                                                       data-bs-target="#faq-list-4" class="collapsed">What
                        is the difference between bacteria and viruses?<i
                                class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                Bacteria are single-celled organisms that have the ability to feed themselves and to
                                reproduce. They are found everywhere, including the air, water, and soil. They divide
                                and multiply very quickly, which means that one cell can become 1 million cells in just
                                a few hours. Viruses are microorganisms that are smaller than bacteria, but they cannot
                                grow or reproduce without the help of a separate living cell. Once a virus gets inside
                                your body, it attaches itself to a healthy cell and uses the cell’s nucleus to reproduce
                                itself.
                            </p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="400">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                                                                       data-bs-target="#faq-list-5" class="collapsed">Do
                        our intestines contain germs? <i
                                class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                Yes, our intestines contain germs. Germs aren't all bad—in fact, some are helpful. For
                                example, the common bacterium E. coli can be found in our intestines, and it helps us
                                digest green vegetables and beans (also making gases). These same bacteria also make
                                vitamin K, which causes blood to clot.
                            </p>
                        </div>
                    </li>
                    <li data-aos="fade-up" data-aos-delay="400">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                                                                       data-bs-target="#faq-list-6" class="collapsed">Where
                        are some other places that germs hide? <i
                                class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-6" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                Germs are everywhere! Most germs spread through the air, invading our homes, pets, and
                                family, and sometimes they make us sick. Besides your bathroom toilet and the kitchen
                                sink, everyday items such as shopping carts, restaurant menus, mobile phones, and shower
                                curtains contain germs. These items contain bacteria, mold, and rhinoviruses
                                (instigators of the common cold) that can lead to sickness. In fact, cold and flu
                                viruses can survive for 18 hours on hard surfaces. Common household items can be swabbed
                                with a disinfectant wipe easily before use in order to prevent germs from spreading.
                                Washing your hands with soap and water, using hand sanitizer, and avoiding touching your
                                face with your hands after using these items also helps keep germs away from you. To
                                eliminate dust mites—those little critters that live in your bed sheets and feed on dead
                                skin cells—don’t make your bed for a while. Studies have found that dust mites need
                                humidity levels above 50 percent to survive and cannot live in the arid conditions of an
                                unmade bed.
                            </p>
                        </div>
                    </li>
                    <li data-aos="fade-up" data-aos-delay="400">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                                                                       data-bs-target="#faq-list-7" class="collapsed">What
                        are allergies? <i
                                class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-7" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                An allergic reaction is a reaction to a substance that is typically harmless to most
                                other people. Allergies happen when a person’s immune system overreacts to a substance
                                that the person has breathed in, touched, or eaten. Allergens—the antigens that bring on
                                an allergic reaction—may be foods, medications, plants or animals, chemicals, dust, or
                                molds. Some common allergic reactions are hay fever, allergic conjunctivitis (an eye
                                reaction), asthma, pet-dander allergies, and skin reactions, such as hives. A common
                                cause for allergies are dust mites, a large part of household dust. If they are breathed
                                in by an allergic person, the body parts of the dead mites can trigger asthma, a lung
                                condition that causes a person to have difficulty breathing. Cat and dog dander, or skin
                                flakes, can cause an allergic reaction, such as sneezing, wheezing, and runny eyes and
                                nose. Common food allergy triggers are the proteins in cow’s milk, eggs, peanuts, wheat,
                                soy, fish, shellfish, and tree nuts.
                            </p>
                        </div>
                    </li>
                    <li data-aos="fade-up" data-aos-delay="400">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                                                                       data-bs-target="#faq-list-8" class="collapsed">What
                        are antibiotics? <i
                                class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-8" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                Antibiotics are medicines that help the human body fight bacteria, either by killing the
                                offending germs directly or by weakening them so that the body’s own immune system can
                                fight and kill them more easily. The most widely known antibiotic is penicillin, which
                                is made from mold. Penicillin kills bacteria by interfering with the formation of the
                                cell walls or cell contents of the bacteria.
                            </p>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </section><!-- End Frequently Asked Questions Section -->
{% endblock %}