{% extends 'Medilab/base.html' %}
{% load static %}

{% block content %}

    <section id="hero" class="d-flex align-items-center">
        <div class="container">
            {% if user.is_authenticated %}
                <h1>Welcome {{ user.first_name }}</h1>
            {% else %}
                <h1>Welcome to CareSupportAI</h1>
            {% endif %}
            <h2>"Caring for you, powered by AI"</h2>
            <a href="{% url 'book_an_appointment' %}" class="btn-get-started scrollto">Book an Appointment</a>
            <a href="{% url 'chat' %}" class="btn-get-started scrollto">Chat with Eve</a>
        </div>
    </section><!-- End Hero -->

    <main id="main">

        <!-- ======= Why Us Section ======= -->
        <section id="why-us" class="why-us">

            <div class="container">

                <div class="row">
                    <div class="col-lg-4 d-flex align-items-stretch">
                        <div class="content">
                            <h3>Why Choose CareSupportAI?</h3>
                            <p>
                                CareSupportAI provides personalized healthcare support using artificial intelligence,
                                utilizing advanced chatbot UI and natural language processing algorithms. Its decision
                                tree classifier, severity assessment, and precautionary measures ensure reliable health
                                insights. As a dedicated virtual health assistant, CareSupportAI guides and monitors
                                users' health journeys.
                            </p>
                            <div class="text-center">
                                <a href="#" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 d-flex align-items-stretch">
                        <div class="icon-boxes d-flex flex-column justify-content-center">
                            <div class="row">
                                <div class="col-xl-4 d-flex align-items-stretch">
                                    <div class="icon-box mt-4 mt-xl-0">
                                        <i class="bx bx-receipt"></i>
                                        <h4>24/7 Health Support</h4>
                                        <p>Your trusted healthcare companion, available round-the-clock.</p>
                                    </div>
                                </div>
                                <div class="col-xl-4 d-flex align-items-stretch">
                                    <div class="icon-box mt-4 mt-xl-0">
                                        <i class="bx bx-cube-alt"></i>
                                        <h4>Emergency Assistance</h4>
                                        <p>A crucial service for life-threatening situations.</p>
                                    </div>
                                </div>
                                <div class="col-xl-4 d-flex align-items-stretch">
                                    <div class="icon-box mt-4 mt-xl-0">
                                        <i class="bx bx-images"></i>
                                        <h4>Personalised health recommendation</h4>
                                        <p>Receive personalized health recommendations with our virtual health
                                            assistant, Eve.</p>
                                    </div>
                                </div>
                            </div>
                        </div><!-- End .content-->
                    </div>
                </div>

            </div>
        </section><!-- End Why Us Section -->

        <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch position-relative">
                        <a href="https://youtu.be/5tLZfT9T5nQ" class="glightbox play-btn mb-4"></a>
                    </div>

                    <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
                        <h3>Explore the Key Features: Unveiling the Power Within</h3>
                        <p>CaresupportAI uses conversational chatbots to diagnose health issues using advanced natural
                            language processing algorithms and decision tree classifiers. Eve offers personalized
                            precautionary measures based on age, gender, and medical history, improving health
                            management. It offers user-friendly registration and secure registration for personalized
                            health recommendations.</p>

                        <div class="icon-box">
                            <div class="icon"><i class="bx bx-fingerprint"></i></div>
                            <h4 class="title"><a href="">Symptom-Based Disease Prediction</a></h4>
                            <p class="description">CaresupportAI facilitates users in identifying health issues using
                                conversational chatbots, utilizing advanced natural language processing algorithms and
                                decision tree classifiers for accurate health predictions.</p>
                        </div>

                        <div class="icon-box">
                            <div class="icon"><i class="bx bx-gift"></i></div>
                            <h4 class="title"><a href="">Personalized Precautionary Measures</a></h4>
                            <p class="description">Eve provides personalized precautionary measures for diseases, based
                                on user's age, gender, and medical history, improving health management experience.</p>
                        </div>

                        <div class="icon-box">
                            <div class="icon"><i class="bx bx-atom"></i></div>
                            <h4 class="title"><a href="">User-Friendly and Secure Registration</a></h4>
                            <p class="description">CareSupportAI allows users to access personalized health
                                recommendations and engage in conversations, using a user-friendly registration process
                                and security measures.</p>
                        </div>

                    </div>
                </div>

            </div>
        </section><!-- End About Section -->

        <!-- ======= Counts Section ======= -->
{#        <section id="counts" class="counts">#}
{#            <div class="container">#}
{##}
{#                <div class="row">#}
{##}
{#                    <div class="col-lg-3 col-md-6">#}
{#                        <div class="count-box">#}
{#                            <i class="fas fa-user-md"></i>#}
{#                            <span data-purecounter-start="0" data-purecounter-end="85" data-purecounter-duration="1"#}
{#                                  class="purecounter"></span>#}
{#                            <p>Doctors</p>#}
{#                        </div>#}
{#                    </div>#}
{##}
{#                    <div class="col-lg-3 col-md-6 mt-5 mt-md-0">#}
{#                        <div class="count-box">#}
{#                            <i class="far fa-hospital"></i>#}
{#                            <span data-purecounter-start="0" data-purecounter-end="18" data-purecounter-duration="1"#}
{#                                  class="purecounter"></span>#}
{#                            <p>Departments</p>#}
{#                        </div>#}
{#                    </div>#}
{##}
{#                    <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">#}
{#                        <div class="count-box">#}
{#                            <i class="fas fa-flask"></i>#}
{#                            <span data-purecounter-start="0" data-purecounter-end="12" data-purecounter-duration="1"#}
{#                                  class="purecounter"></span>#}
{#                            <p>Research Labs</p>#}
{#                        </div>#}
{#                    </div>#}
{##}
{#                    <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">#}
{#                        <div class="count-box">#}
{#                            <i class="fas fa-award"></i>#}
{#                            <span data-purecounter-start="0" data-purecounter-end="150" data-purecounter-duration="1"#}
{#                                  class="purecounter"></span>#}
{#                            <p>Awards</p>#}
{#                        </div>#}
{#                    </div>#}
{##}
{#                </div>#}
{##}
{#            </div>#}
{#        </section><!-- End Counts Section -->#}

        <!-- ======= Frequently Asked Questions Section ======= -->
        <section id="faq" class="faq section-bg">
            <div class="container">

                <div class="section-title">
                    <h2>Frequently Asked Questions</h2>
                    <p>The Frequently Asked Questions (FAQ) section that addresses common queries and concerns from
                        users, providing comprehensive and informative answers to help them better understand the
                        platform's services, features, and how to make the most of their personalized healthcare
                        support..</p>
                </div>

                <div class="faq-list">
                    <ul>
                        <li data-aos="fade-up">
                            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse"
                                                                           data-bs-target="#faq-list-1">What is
                            CaresupportAI? <i class="bx bx-chevron-down icon-show"></i><i
                                    class="bx bx-chevron-up icon-close"></i></a>
                            <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                                <p>
                                    CaresupportAI is a cutting-edge healthcare platform that utilizes interactive
                                    chatbots and advanced AI algorithms to deliver personalized healthcare support and
                                    guidance to users.
                                </p>
                            </div>
                        </li>

                        <li data-aos="fade-up" data-aos-delay="100">
                            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                                                                           data-bs-target="#faq-list-2"
                                                                           class="collapsed">How does CaresupportAI
                            work? <i class="bx bx-chevron-down icon-show"></i><i
                                    class="bx bx-chevron-up icon-close"></i></a>
                            <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                                <p>
                                    CaresupportAI's chatbots engage in conversational interactions with users, analyzing
                                    their symptoms and health-related inputs. The platform employs decision tree
                                    classifiers to predict potential health issues and offers personalized
                                    recommendations.
                                </p>
                            </div>
                        </li>

                        <li data-aos="fade-up" data-aos-delay="200">
                            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                                                                           data-bs-target="#faq-list-3"
                                                                           class="collapsed">Are the health predictions
                            accurate?<i class="bx bx-chevron-down icon-show"></i><i
                                    class="bx bx-chevron-up icon-close"></i></a>
                            <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                                <p>
                                    Yes, CaresupportAI's AI algorithms are trained on a vast dataset of symptoms and
                                    diseases, making the predictions highly accurate. However, it's essential to consult
                                    a healthcare professional for a definitive diagnosis.
                                </p>
                            </div>
                        </li>

                        <li data-aos="fade-up" data-aos-delay="300">
                            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                                                                           data-bs-target="#faq-list-4"
                                                                           class="collapsed">Is my data secure with
                            CaresupportAI?<i
                                    class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                            <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                                <p>
                                    Absolutely! CaresupportAI takes data privacy and security seriously. All user data
                                    is encrypted and stored following industry-standard protocols to ensure maximum
                                    protection.
                                </p>
                            </div>
                        </li>

                        <li data-aos="fade-up" data-aos-delay="400">
                            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                                                                           data-bs-target="#faq-list-5"
                                                                           class="collapsed">Can I get personalized
                            healthcare recommendations? <i
                                    class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                            <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                                <p>
                                    Yes, CaresupportAI provides personalized healthcare recommendations based on
                                    individual symptoms, medical history, and other relevant factors.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section><!-- End Frequently Asked Questions Section -->

    </main><!-- End #main -->
{% endblock %}